<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            
            border: 2px solid;
            padding:8px;
       
        }
        table{
            border-collapse:collapse ;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <center>
    <h2>View Complaint And Send Reply</h2>
    </center>
    <table border="1">
        <form method="post" action="SearchComplaint">
            {% csrf_token %}
        <tr>
            <td colspan="2">
            <input type="date" name="search" value="{{ date }}">
            <input type="submit" value="Search">
            </td>
        </tr>
        </form>
    <tr>
        <th>No</th>
        <th>User Name</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
    </tr>
     {% for i in val %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.USER.UserName }}</td>
        <td>{{ i.Subject }}</td>
        <td>{{ i.Description }}</td>
        <td>{{ i.Date }}</td>
        <td>
            {% if i.Response == "pending" %}
            <form method="post" action="CompReply/{{ i.id }}">
                {% csrf_token %}
            <textarea name="Reply"></textarea>
            <a href=""><input type="submit" value="Reply"></a>
            </form>
            {% else %}
            {{ i.Response }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table><br>
</body>
</html>