<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            
            border: 2px solid;
            padding:8px;
       
        }
        table{
            border-collapse:collapse ;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <center>
    <h2>View Complaint And Send Reply</h2>
    </center>
    <table>
    <tr>
        <th>No</th>
        <th>User Name</th>
        <th>Doctor Name</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <input type="button" value="Reply">
        </td>
    </tr>
    </table><br>
    <center>
    <input type="button" value="Search">
    <input type="button" value="Refresh">
</center>
</body>
</html>