<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            
            border: 2px solid;
            padding:8px;
       
        }
        table{
            border-collapse:collapse ;
        }
    </style>
</head>
<body>
    <center><h1>Manage Doctors</h1></center>
    <table>
        <tr>
            <th>Doctor_id</th>
            <th>Doctor_Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Specialization</th>
            <th>Qualification</th>
            <th>Experience</th>
            <th>E_mail</th>
            <th>Mobile_No</th>
            <th>Added_On</th>
            <th><a href="AddDoctor.html">add</a></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="button" value="Edit">
                <input type="button" value="Delete">
                <input type="button" value="Rating">
            </td>
        </tr>
    </table>

</body>
</html>