<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Registration Form</h2>
    </center>
    <center><img src="./IMG_20231201_080019_540.jpg" height="100px" width="100px" style="border-radius: 50%;"></center>
    <center>
    <p>Add Your Profile Picture</p>
    </center>
    <form>
        

        <label>Hospital_id :</label>
        <input type="text"><br><br>
        <label>Hospital_Name :</label>
        <input type="text"><br><br>
        <label>Mobile.No :</label>
        <input type="text"><br><br>
        <label>Email_id:</label>
        <input type="text"><br><br>
        <label>Address :</label>
        <textarea></textarea><br><br>
        <label>City:</label>
        <input type="text"><br><br>
        <label>State:</label>
        <input type="text"><br><br>
        <label>Pincode:</label>
        <input type="text"><br><br>
        <input type="button" value="Register">
        <input type="button" value="Reset">
     </form>
</body>
</html>