<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Edit Your Profile</h1>
    </center>
    <Img src="">
        <center>
        <p>Change Profile Picture</p>
        </center>
        <label>Hospital_id:</label>
        <input type="text" value="{{ val.id }}"><br><br>
        <label>Hospital_Name :</label>
        <input type="text" value="{{ val.UserName }}"><br><br>
        <label>Mobile.No :</label>
        <input type="text" value="{{ val.Phone }}"><br><br>
        <label>Email_id </label>
        <input type="text" value="{{ val.E_mail}}"><br><br>
        <label>Address :</label>
        <textarea>{{ val.Address }}</textarea><br><br>
        <label>City:</label>
        <input type="text" value="{{ val.City }}"><br><br>
        <label>State:</label>
        <input type="text" value="{{ val.State }}"><br><br>
        <label>Pincode:</label>
        <input type="text" value="{{ val.Pincode }}"><br><br>
    
        <input type="button" value="change password"><br><br>
        <center>
        <input type="button" value="Save"         
        </center>

</body>
</html>