<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Edit Your Profile</h1>
    </center>
    <Img src="">
        <center>
        <p>Change Profile Picture</p>
        </center>
        <label>Hospital_id:</label>
        <input type="text"><br><br>
        <label>Hospital_Name :</label>
        <input type="text"><br><br>
        <label>Mobile.No :</label>
        <input type="text"><br><br>
        <label>Email_id </label>
        <input type="text"><br><br>
        <label>Address :</label>
        <textarea></textarea><br><br>
        <label>City:</label>
        <input type="text"><br><br>
        <label>State:</label>
        <input type="text"><br><br>
        <label>Pincode:</label>
        <input type="text"><br><br>
        
        <label>Change password:</label>
        <input type="password"><br><br>
        <center>
        <input type="button" value="Save"         
        </center>

</body>
</html>