<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h2>Change password</h2>
    </center>
    <p>Your password must be at least 6 characters and should include
         a combination of number,letter,and special characters</p>
    <input type="text" placeholder="Current password" name="currentPassword"><br><br>
    <input type="text" placeholder="New password" name="newPassword"><br><br>
    <input type="text" placeholder="Retype New password" name="retypeNewPassword"><br>
<center>
    <button type="submit">save</button>
 </center>
</body>
</html>