<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
    <center>
        <h1>Edit Your Profile</h1>
    </center>
    <Img src="{{ val.Image.url }}">
        <center>
        <p><tr>
          <label>Hospital_Image :</label>
        <input type="image" name="Image"><br><br>   

        </tr>Change Profile Picture</p>
        </center>
       
        <label>Hospital_Name :</label>
        <input type="text" value="{{ val.UserName }}" name="UserName"><br><br>
        <label>Mobile.No :</label>
        <input type="text" value="{{ val.Phone }}" name="Phone"><br><br>
        <label>Email_id </label>
        <input type="text" value="{{ val.E_mail}}" name="E_mail"><br><br>
        <label>Address :</label>
        <textarea name="Address">{{ val.Address }}</textarea><br><br>
        <label>City:</label>
        <input type="text" value="{{ val.City }}" name="City"><br><br>
        <label>State:</label>
        <input type="text" value="{{ val.State }}" name="State"><br><br>
        <label>Pincode:</label>
        <input type="text" value="{{ val.Pincode }}" name="Pincode"><br><br>
        <a href="/ChangePassword">
        <input type="button" value="change password"><br><br></a>
        <center>
        <button type="submit">save</button>       
        </center>
    </form>
</body>
</html>