<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/viewDrProfile">View Profile</a><br>
    <a href="/ManageSchedule">Manage Schedule</a><br>
    <a href="/ViewBooking">View Booking Details</a><br>
    <a href="/ViewComplaints">View Complaints</a><br>

     <center>
        <a href="">
       <input type="button" value="Logout"></a>
       </center>
</body>
</html>