<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            
            border: 2px solid;
            padding:8px;
       
        }
        table{
            border-collapse:collapse ;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <form method="post">
         {% csrf_token %}
      <label>Day of week:</label>
     <select id="days" name="Day_of_week">
     <option value="sunday">Sunday</option>
  <option value="monday">Monday</option>
  <option value="tuesday">Tuesday</option>
  <option value="wednesday">Wednesday</option>
  <option value="thursday">Thursday</option>
  <option value="friday">Friday</option>
  <option value="saturday">Saturday</option>
</select><br><br>

      <label>Start Time:</label>
      <input type="time" name="Start_Time"><br><br>
      <label>End Time:</label>
      <input type="time"  name="End_Time"><br><br>
      <button type="submit">Submit</button>

    </form>
   
    <h2>Current Schedule</h2>
    <table>
        
        <tr>
             <th>Day</th>
             <th>Start Time</th>
             <th>End Time</th>
            
             <th>Action</th>
        </tr>
        {% for i in val %}
        <tr>
              <td>{{ i.Day_of_week }}</td>
              <td>{{ i.Start_Time }}</td>
              <td>{{ i.End_Time }}</td>
             
              <td>
         
             <a href="DeleteSchedule/{{ i.id }}">
                    delete
                </a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>