<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Update Your Profile</h2>
    </center>
    <form method="post">
        {% csrf_token %}

        <label>Doctor_Name :</label>
        <input type="text" value="{{ val.UserName }}" name="UserName"><br><br>
        <label>DOB :</label>
        <input type="date" value="{{ DOB }}" name="DOB"><br><br>

    <label>Gender :</label>
    <input type="radio" name="Gender" value="Male" {% if val.Gender == "Male" %} checked {% endif %}>
    <label>Male</label>
    <input type="radio" name="Gender" value="Female"  {% if val.Gender == "Female" %} checked {% endif %}>
    <lable>Female</lable>
    <input type="radio" name="Gender" value="Other"  {% if val.Gender == "Other" %} checked {% endif %}>
    <label>Other</label>
    
        <br><br>
        <label>Specialization:</label>
        <input type="text" value="{{ val.Specialization }}" name="Specialization"><br><br>
        <label>Qualification:</label>
        <input type="text" value="{{ val.Qualification }}" name="Qualification"><br><br>
        <label>Experience :</label>
        <input type="text" value="{{ val.Experience_year }}" name="Experience_year"><br><br>
        <label>E-mail_id:</label>
        <input type="text" value="{{ val.E_mail }}" name="E_mail"><br> <br>
        <label>Mobile.No:</label>
        <input type="text" value="{{ val.Phone }}" name="Phone"><br><br>
        <label>Added_On</label>
        <input type="text" value="{{ val.Added_on }}" name="Added_on">
        <br><br>
        <a href="/ChangePassword1"><button type="button">Change password</button></a><br><br>
        <button type="submit">Save</button>
     </form>
</body>
</html>