<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Update Your Profile</h2>
    </center>
    <form>
        

        <label>Doctor_id :</label>
        <input type="text"><br><br>
        <label>Doctor_Name :</label>
        <input type="text"><br><br>
        <label>DOB :</label>
        <input type="date"><br><br>

       <label>Gender :</label>
    <input type="radio" name="Gender" value="male">
    <label>male</label>

    <input type="radio" name="Gender" value="female">
    <lable>female</lable>
   
    <input type="radio" name="Gender" value="other">
    <label>other</label>
    
        <br><br>
        <label>Specialization:</label>
        <input type="text"><br><br>
   <label>Qualification:</label>
        
    
        <input type="text"><br><br>
        <label>Experience :</label>
        <input type="text"><br><br>
        <label>E-mail_id:</label>
        <input type="text"><br><br>
        <label>Mobile.No:</label>
        <input type="text"><br><br>
        <label>Added_On</label>
        <input type="text">
        <br><br>
         <label>Change password:</label>
        <input type="password"><br><br>
        <button type="submit">Save</button>
        <button type="reset">Reset</button>
     </form>
</body>
</html>