<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            
            border: 2px solid;
            padding:8px;
       
        }
        table{
            border-collapse:collapse ;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <center>
        <h1>View Booking Details</h1>
    </center>
    <table>
        <tr>
            <th>No</th>
            <th>User_name</th>
            <th>Doctor</th>
            <th>Booking Date</th>
            <th>Booking Time</th>
            <th>Payment Status</th>
            <th>Amount</th>
            <th>Created On</th>
            <th>Status</th>
            
        </tr>
         {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.USER.UserName }}</td>
            <td>{{ i.DOCTOR.UserName }}</td>
            <td>{{ i.Booking_date }}</td>
            <td>{{ i.Booking_time }}</td>
            <td>{{ i.Payment_status }}</td>
            <td>{{ i.Amount }}</td>
            <td>{{ i.Created_on }}</td>
            <td>{{ i.Status }}</td>
            
            
        </tr>
         {% endfor %}
    </table>
   
    </form>
</body>
</html>