<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            
            border: 2px solid;
            padding:8px;
       
        }
        table{
            border-collapse:collapse ;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <center>
    <h2>Verify Hospital</h2>
    </center>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Reg.No</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Pincode</th>
            <th>Action</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.UserName }}</td>
            <td>{{ i.Registration_no }} </td>
            <td>{{ i.E_mail }}</td>
            <td>{{ i.Phone}}</td>
            <td>{{ i.Address}}</td>
            <td>{{ i.City}}</td>
            <td>{{ i.State }}</td>
            <td>{{ i.Pincode}}</td>
        
            <td><a href="AcceptHospital/{{ i.LOGIN.id }}">Accept</a>
            <a href="RejectHospital/{{ i.LOGIN.id }}">Reject</a>
        </td>
        </tr>
         {% endfor %}
    </table>
</body>
</html>